@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap');

.logo {
    height: 100px;
}

.name {
    letter-spacing: 10px;
    font-weight: bold;
    color: #16A085;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.btn-success {
    background-color: #16A085;
}

.desc{
    font-size: 16px;
    text-align: center;
}

.mitra {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #16A085;
    text-align: center;
}

.sosmed {
    font-family: 'Roboto', sans-serif;
    color: #16A085;
}

.footer {
    background-color: #005C66;
}

.kontak {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.cr {
    background-color: #066F7A;
}

span.step {
    background: #005C66;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
}
